.floatingBarContainer {
    position: relative;
    height: 100%;
}

.floatingBar {
    opacity: 0;
    pointer-events: none;
    top: 5px;
    right: 5px;
    display: inline-flex;
    align-items: center;
    position: absolute;
    border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    padding: 2px;
    background: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
    border-radius: var(--mantine-radius-default);
    gap: 2px;
    z-index: var(--mantine-z-index-overlay);
}

.floatingBarContainer:hover .floatingBar, .floatingBarContainer:focus-within .floatingBar {
    opacity: 1;
    pointer-events: all;
}

.floatingBar svg {
    width: 16px;
    height: 16px;
}